<section>
	
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Município</h3>
		</div>
		<div class="panel-body">
			<form name="formEstado">
				
				<ng-include src="'/admin/includes/common/formActions.html'"></ng-include>
				<div class="form-group">
					<label>Estado</label>
					<select 
						ng-options="item.Estado.id as item.Estado.nome for item in estados" 
						class="form-control" 
						ng-model="form.Municipio.estado_id"></select>
				</div>
				<div class="form-group">
					<label>Nome</label>
					<input type="text" class="form-control" ng-model="form.Municipio.nome">
				</div>
				<ng-include src="'/admin/includes/common/formActions.html'"></ng-include>
			</form>
		</div>
	</div>
	
</section>
