<section>
	<ng-include src="'/admin/includes/common/formActions.html'"></ng-include>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Usuário</h3>
		</div>
		<div class="panel-body">
			<div class="form">
				<div class="form-group">
					<label>Login</label>
					<input type="text" class="form-control" ng-model="form.Usuario.login">
				</div>
				<div class="form-group">
					<label>Senha</label>
					<input type="text" class="form-control" ng-model="form.Usuario.senha">
				</div>
				<div class="form-group">
					<label>Nome</label>
					<input type="text" class="form-control" ng-model="form.Usuario.nome">
				</div>
				<div class="form-group">
					<label>Email</label>
					<input type="text" class="form-control" ng-model="form.Usuario.email">
				</div>
				<div class="form-group">
					<label>Grupo</label>
					<select class="form-control" ng-model="form.Usuario.grupo_id" ng-options="item.Grupo.id as item.Grupo.nome for item in grupos"></select>
				</div>
			</div>
		</div>
	</div>	
</section>
