<section>
	<ng-include src="'/admin/includes/common/listingActions.html'"></ng-include>
	<ng-include src="'/admin/includes/common/pagination.html'"></ng-include>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Usuários</h3>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th class="col-md-2">&nbsp;</th>
					<th>Login</th>
					<th>Nome</th>
					<th>Email</th>
					<th>Grupo</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in listing">
					<td>
						<ng-include src="'/admin/includes/common/recordActions.html'"></ng-include>
					</td>
					<td>{{item.Usuario.login}}</td>
					<td>{{item.Usuario.nome}}</td>
					<td>{{item.Usuario.email}}</td>
					<td>{{item.Grupo.nome}}</td>
				</tr>
			</tbody>
		</table>
	</div>	
</section>
