<script src="/consulta/js/Angular/header/controllers.js"></script>
<script src="/admin/js/Angular/dashboard/controllers.js"></script>
<script src="/admin/js/Angular/menu/controllers.js"></script>
<script src="/admin/js/Angular/usuario/controllers.js"></script>
<script src="/admin/js/Angular/ocorrencia/controllers.js"></script>
<script src="/admin/js/Angular/estado/controllers.js"></script>
<script src="/admin/js/Angular/grupo/controllers.js"></script>
<script src="/admin/js/Angular/permissao/controllers.js"></script>
<script src="/admin/js/Angular/programa/controllers.js"></script>
<script src="/admin/js/Angular/mensagem/controllers.js"></script>
