<div>
<div class="btn-group">
	<button tooltip="Editar" ng-click="go('edit', subitem.id||item[currentModel].id)" class="btn btn-default"><i class="fa fa-edit fa-2x"></i></button>
	<button tooltip="Excluir" ng-click="del(subitem.id||item[currentModel].id)" class="btn btn-default"><i class="fa fa-trash fa-2x"></i></button>
</div>
<div class="btn-group pull-right">
	<button ng-if="item.OcorrenciaMunicipal.status_id!=1" tooltip="Efetivar" ng-click="efetivar(subitem.id||item[currentModel].id)" class="btn btn-default"><i class="fa fa-check-circle fa-2x"></i></button>
	<button ng-if="item.OcorrenciaMunicipal.situacao_id!=2" tooltip="Desativar" ng-click="desativar(subitem.id||item[currentModel].id)" class="btn btn-default"><i class="fa fa-power-off fa-2x"></i></button>
</div>
</div>