<section>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Ocorrência</h3>
		</div>
		<div class="panel-body">
			<form name="formOcorrencia" ng-cloack>
				<ng-include src="'/admin/includes/common/formActions.html'"></ng-include>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{'has-error':formOcorrencia.busca_municipio.$invalid }">
							<label class="control-label">Município</label>
							<input ng-change="buscaMunicipios()" class="form-control" ng-model="form.OcorrenciaMunicipal.busca_municipio" name="busca_municipio" type="text" minlength="5" />
							<span ng-show="formOcorrencia.busca_municipio.$error.minlength" class="help-block">No mínimo 5 caracteres!</span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group" ng-class="{'has-error':formOcorrencia.municipio_id.$invalid }">
							<label class="control-label">&nbsp;</label>
							<select class="form-control" ng-options="item.Municipio.id as item.Municipio.nome for item in municipios" required name="municipio_id" ng-model="form.OcorrenciaMunicipal.municipio_id">
								<option value="">Pesquise no campo ao lado!</option>
							</select>
							<span ng-show="formOcorrencia.municipio_id.$error.required" class="help-block">Este campo é requerido!</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{'has-error':formOcorrencia.busca_programa.$invalid }">
							<label class="control-label">Programa</label>
							<input ng-change="buscaProgramas()" class="form-control" ng-model="form.OcorrenciaMunicipal.busca_programa" name="busca_programa" type="text" minlength="5" />
							<span ng-show="formOcorrencia.busca_programa.$error.minlength" class="help-block">No mínimo 5 caracteres!</span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group" ng-class="{'has-error':formOcorrencia.programa_id.$invalid }">
							<label class="control-label">&nbsp;</label>
							<select class="form-control" ng-options="item.Programa.id as item.Programa.nome_divulgacao for item in programas" required name="programa_id" ng-model="form.OcorrenciaMunicipal.programa_id">
								<option value="">Pesquise no campo ao lado!</option>
							</select>
							<span ng-show="formOcorrencia.programa_id.$error.required" class="help-block">Este campo é requerido!</span>
						</div>
					</div>
				</div>
				<div ng-if="formOcorrencia.municipio_id.$valid && formOcorrencia.programa_id.$valid">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{'has-error':formOcorrencia.inicio_inscricoes.$invalid }" >
							<label class="control-label">Data Início</label>
							<input max="{{formOcorrencia.fim_inscricoes.$viewValue}}" required type="date" name="inicio_inscricoes" class="form-control" ng-model="form.OcorrenciaMunicipal.inicio_inscricoes">
							<span ng-show="formOcorrencia.inicio_inscricoes.$error.required" class="help-block">Este campo é requerido!</span>
							<span ng-show="formOcorrencia.inicio_inscricoes.$error.date" class="help-block">Data inválida!</span>
							<span ng-show="formOcorrencia.inicio_inscricoes.$error.max" class="help-block">Não pode ser maior que a data fim das incrições!</span>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group" ng-class="{'has-error':formOcorrencia.fim_inscricoes.$invalid }">
							<label class="control-label">Data Fim</label>
							<input min="{{formOcorrencia.inicio_inscricoes.$viewValue}}" required type="date" name="fim_inscricoes" class="form-control" ng-model="form.OcorrenciaMunicipal.fim_inscricoes">
							<span ng-show="formOcorrencia.fim_inscricoes.$error.required" class="help-block">Este campo é requerido!</span>
							<span ng-show="formOcorrencia.fim_inscricoes.$error.date" class="help-block">Data inválida!</span>
							<span ng-show="formOcorrencia.fim_inscricoes.$error.min" class="help-block">Não pode ser menor que a data início das incrições!</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group" ng-class="{'has-error':formOcorrencia.quantidade_vagas.$invalid }">
							<label class="control-label">Quantidade de Vagas</label>
							<input required type="number" name="quantidade_vagas" class="form-control" ng-model="form.OcorrenciaMunicipal.quantidade_vagas" />
							<span ng-show="formOcorrencia.quantidade_vagas.$error.required" class="help-block">Este campo é requerido!</span>
							<span ng-show="formOcorrencia.quantidade_vagas.$error.number" class="help-block">Não é um número!</span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group" ng-class="{'has-error':formOcorrencia.situacao_id.$invalid }">
							<label class="control-label">Situação</label>
							<select required ng-options="item.Situacao.id as item.Situacao.nome for item in situacoes" name="situacao_id" class="form-control" ng-model="form.OcorrenciaMunicipal.situacao_id">
								<option value="">Selecione uma Situação</option>
							</select>
							<span ng-show="formOcorrencia.situacao_id.$error.required" class="help-block">Este campo é requerido!</span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group" ng-class="{'has-error':formOcorrencia.status_id.$invalid }">
							<label class="control-label">Status</label>
							<select required ng-options="item.Status.id as item.Status.nome for item in status" name="status_id" class="form-control" ng-model="form.OcorrenciaMunicipal.status_id">
								<option value="">Selecione um Status</option>
							</select>
							<span ng-show="formOcorrencia.status_id.$error.required" class="help-block">Este campo é requerido!</span>
						</div>
					</div>
				</div>
				
				<tabset>
					<tab heading="Benefícios Locais">
						<br>
						<div class="form-group" ng-class="{'has-error':formOcorrencia.beneficios_locais.$invalid }">
							<div text-angular ta-toolbar="[['bold','italics','underline'],['ul','ol'],['justifyLeft','justifyCenter','justifyRight'],['indent','outdent'],['insertLink','insertVideo']]" required name="beneficios_locais" ng-model="form.OcorrenciaMunicipal.beneficios_locais"></div>
							<span ng-show="formOcorrencia.beneficios_locais.$error.required" class="help-block">Este campo é requerido!</span>
						</div>
					</tab>
					<tab heading="Como Acessar">
						<div class="form-group" ng-class="{'has-error':formOcorrencia.como_acessar.$invalid }">
							
							<div text-angular ta-toolbar="[['bold','italics','underline'],['ul','ol'],['justifyLeft','justifyCenter','justifyRight'],['indent','outdent'],['insertLink','insertVideo']]" required name="como_acessar" ng-model="form.OcorrenciaMunicipal.como_acessar"></div>
							<span ng-show="formOcorrencia.como_acessar.$error.required" class="help-block">Este campo é requerido!</span>
						</div>
					</tab>
					<tab heading="Observação">
						<div class="form-group">
							<div text-angular ta-toolbar="[['bold','italics','underline'],['ul','ol'],['justifyLeft','justifyCenter','justifyRight'],['indent','outdent'],['insertLink','insertVideo']]" name="observacao" ng-model="form.OcorrenciaMunicipal.observacao"></div>
						</div>
					</tab>
				</tabset>
				</div>
				<ng-include src="'/admin/includes/common/formActions.html'"></ng-include>
			</form>
		</div>
	</div>	
</section>
