<section>
	<ng-include src="'/admin/includes/common/listingActions.html'"></ng-include>
	
	<div class="row">
		<div class="col-md-6">
			<ng-include src="'/admin/includes/common/pagination.html'"></ng-include>
		</div>
		<div class="col-md-6">
			<div class="pull-right" style="margin-top:20px;">
				<form class="form-inline">
				<div class="form-group">
					<label class="sr-only" for="pesquisa">Pesquisa</label>
					<input type="text" id="pesquisa" class="form-control" placeholder="Por Programa ou Município...">
				</div>
				
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					Status e Situação <span class="caret"></span>
					</button>
					<ul class="dropdown-menu pull-right" role="menu">
						<li><a>Efetiva</a></li>
						<li><a>Candidata</a></li>
						<li class="divider"></li>
						<li><a>Ativa</a></li>
						<li><a>Desativa</a></li>
					</ul>
				</div>
				
				</form>
	
			</div>
		</div>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Ocorrências</h3>
		</div>
		<div ng-if="listing.length == 0 && empty == 0" class="panel-body">
			<div class="row">
				<div class="col-md-4 col-md-offset-4">
					<div class="jumbotron">
					<h2>Carregando...</h2>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
							<span class="sr-only">45% Complete</span>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-if="empty" class="panel-body">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="jumbotron">
						<h2>Nenhum registro encontrado.</h2>
						<p>Os filtros aplicados resultaram em uma busca sem registros!</p>
					</div>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div ng-repeat="item in listing" class="col-md-6">
				<div class="panel" ng-class="{'panel-success':item.Situacao.nome=='Ativada','panel-warning':item.Situacao.nome=='Desativada'}">
					<div class="panel-heading">
						<h4 class="panel-title">
							{{item.Programa.nome_divulgacao}}
							<span class="panel-tools pull-right">{{item.Status.nome || 'Sem Status'}}</span>
						</h4>
					</div>
					<div class="panel-body clearfix" style="height: 150px; overflow: auto;">
						<p>
						De {{item.OcorrenciaMunicipal.inicio_inscricoes || '[Sem data início]' | date:'dd/MM/yyyy' }}
						a {{item.OcorrenciaMunicipal.fim_inscricoes || '[Sem data Fim]' | date:'dd/MM/yyyy' }}
						<strong class="pull-right">{{item.Municipio.nome}}</strong>
						</p>
						<hr>
						<p>
						<small ng-bind-html="item.OcorrenciaMunicipal.beneficios_locais"></small>
						</p>
					</div>
					<div class="panel-footer">
						<ng-include src="'/admin/includes/ocorrencia/recordActions.html'"></ng-include>
					</div>
				</div>
			</div>
		</div>
		<!--table class="table">
			<thead>
				<tr class="active">
					<th class="col-md-2">&nbsp;</th>
					<th>Município</th>
					<th>Programa</th>
					<th>Início</th>
					<th>Fim</th>
					<th>Status</th>
					<th>Situação</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in listing">
					<td>
						<ng-include src="'/admin/includes/common/recordActions.html'"></ng-include>
					</td>
					<td>{{item.Municipio.nome}}</td>
					<td>{{item.Programa.nome_divulgacao}}</td>
					<td>{{item.OcorrenciaMunicipal.inicio_inscricoes || 'Nenhuma' | date:'dd/MM/yyyy' }}</td>
					<td>{{item.OcorrenciaMunicipal.fim_inscricoes || 'Nenhuma' | date:'dd/MM/yyyy'}}</td>
					<td>{{item.Status.nome||'Não Selecionado'}}</td>
					<td><span class="label" ng-class="{'label-success': item.Situacao.nome=='Ativada','label-warning': item.Situacao.nome=='Desativada'}">{{item.Situacao.nome||'Não Selecionado'}}</span></td>
				</tr>
			</tbody>
		</table-->
	</div>	
</section>
