<div class="clearfix">
	<div class="btn-group pull-right">
		<button ng-disabled="formInvalid()" tooltip="Salvar" ng-click="save()" class="btn btn-primary">
			<i class="fa fa-save fa-2x"></i>
		</button>
		<button tooltip="Cancelar" ng-click="cancel()" class="btn btn-default">
			<i class="fa fa-remove fa-2x"></i>
		</button>
	</div>
</div>
