<div class="clearfix">
	<div class="btn-group pull-right">
		<button tooltip="Adicionar" ng-click="go('add')" class="btn btn-default">
			<i class="fa fa-plus-square fa-2x"></i>
		</button>
	</div>
</div>
<hr>