<div class="btn-group">
	<button tooltip="Editar" ng-click="go('edit', subitem.id||item[currentModel].id)" class="btn btn-default"><i class="fa fa-edit fa-2x"></i></button>
	<button tooltip="Excluir" ng-click="del(subitem.id||item[currentModel].id)" class="btn btn-default"><i class="fa fa-trash fa-2x"></i></button>
</div>
