<section>
	<ng-include src="'/admin/includes/common/formActions.html'"></ng-include>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Permissão</h3>
		</div>
		<div class="panel-body">
			<div class="form">
				<div class="form-group">
					<label>Nome</label>
					<input type="text" class="form-control" ng-model="form.Permissao.nome">
				</div>
			</div>
		</div>
	</div>	
</section>
