<section>
	
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Estado</h3>
		</div>
		<div class="panel-body">
			<form name="formEstado">
				<ng-include src="'/admin/includes/common/formActions.html'"></ng-include>
				<div class="form-group">
					<label>Sigla</label>
					<input type="text" class="form-control" ng-model="form.Estado.sigla">
				</div>
				<div class="form-group">
					<label>Nome</label>
					<input type="text" class="form-control" ng-model="form.Estado.nome">
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label>Latitude</label>
							<input type="text" class="form-control" ng-model="form.Estado.latitude">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label>Longitude</label>
							<input type="text" class="form-control" ng-model="form.Estado.longitude">
						</div>
					</div>
					<div class="col-md-4">
						<map disable-default-u-i="true" center="{{form.Estado.latitude}},{{form.Estado.longitude}}" zoom="6">
							<marker on-dragend="moveMarker()" draggable="true" position="{{form.Estado.latitude}},{{form.Estado.longitude}}"></marker>
						</map>
					</div>
				</div>
				<hr>
				<ng-include src="'/admin/includes/common/formActions.html'"></ng-include>
			</form>
		</div>
	</div>
	
</section>
