<section>
	
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Temática</h3>
		</div>
		<div class="panel-body">
			<form name="formTematica">
				
				<ng-include src="'/admin/includes/common/formActions.html'"></ng-include>
				<div class="form-group">
					<label>Nome</label>
					<input type="text" class="form-control" ng-model="form.Tematica.nome">
				</div>
				<div class="form-group">
					<label>Temática Pai</label>
					<select 
						ng-options="item.Tematica.id as item.Tematica.nome for item in pais" 
						class="form-control" 
						ng-model="form.Tematica.parent_id">
						<option value="">Nenhum</option>
					</select>
				</div>
				<ng-include src="'/admin/includes/common/formActions.html'"></ng-include>
			</form>
		</div>
	</div>
	
</section>
