<section>
	<ng-include src="'/admin/includes/common/listingActions.html'"></ng-include>
	<ng-include src="'/admin/includes/common/pagination.html'"></ng-include>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Temáticas</h3>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th class="col-md-1">&nbsp;</th>
					<th class="col-md-3">Nome</th>
					<th>Pai</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat-start="item in listing">
					<td>
						<ng-include src="'/admin/includes/common/recordActions.html'"></ng-include>
					</td>
					<td>{{item.Tematica.nome}}</td>
					<td>Nenhum</td>
				</tr>
				<tr ng-repeat-end ng-if="item.Filhos.length>0">
					<td colspan="3">
					<table class="table" style="margin-bottom:0; margin-left:10px;">
						<tr ng-repeat="subitem in item.Filhos">
							<td class="col-md-1">
								<ng-include src="'/admin/includes/common/recordActions.html'"></ng-include>
							</td>
							<td class="col-md-3">{{subitem.nome}}</td>
							<td>{{subitem.Pai.nome || 'Nenhum' }}</td>
						</tr>
					</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div>	
</section>
