{{theme}}
<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-10">
				<h3 class="panel-title">Estação Juventude</h3>
			</div>
			<div class="col-md-2">
				<select ng-model="theme" class="form-control">
					<option value="cerulean">Cerulean</option>
					<option value="cyborg">Cyborg</option>
					<option value="lumen">Lumen</option>
					<option value="paper">Paper</option>
					<option value="yeti">Yeti</option>
				</select>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-4">
				<div class="form-control-wrapper">
					<input type="text" class="form-control empty">
					<div class="floating-label">Email</div>
					<span class="material-input"></span>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-control-wrapper">
					<input type="text" class="form-control empty">
					<div class="floating-label">Nome</div>
					<span class="material-input"></span>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-control-wrapper">
					<input type="text" class="form-control empty">
					<div class="floating-label">Cidade</div>
					<span class="material-input"></span>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-4">
				<map center="-15,-50" zoom="4">
					<marker ng-repeat="marker in markers.estados" icon="{{marker.icon}}" position="{{marker.latitude}},{{marker.longitude}}"></marker>
				</map>
			</div>
			<div class="col-md-4"></div>
			<div class="col-md-4"></div>
		</div>
	</div>
</div>