<section>
	<ng-include src="'/admin/includes/common/formActions.html'"></ng-include>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Grupo</h3>
		</div>
		<div class="panel-body">
			<form name="formGrupo" novalidate>
				<div class="form-group" ng-class="{ 'has-error' : formGrupo.nome.$invalid, 'has-success' : formGrupo.nome.$valid }">
					<label class="control-label">Nome</label>
					<input required ng-minlength="5" name="nome" type="text" class="form-control" ng-model="form.Grupo.nome">
					<p class="help-block help-danger" ng-show="formGrupo.nome.$error.required">Campo requerido!</p>
					<p class="help-block help-danger" ng-show="formGrupo.nome.$error.minlength">Mínimo de 5 caracteres!</p>
					<p class="help-block" ng-show="formGrupo.nome.$valid">&nbsp;</p>					
				</div>
				<div class="form-group">
					<label>Grupo Pai</label>
					<select class="form-control" ng-model="form.Grupo.parent_id" ng-options="item.Grupo.id as item.Grupo.nome for item in grupos">
						<option value="">Nenhum</option>
					</select>
				</div>
				<div class="actions">
					<div class="btn-group">
						<button class="btn btn-primary" ng-disabled="formGrupo.$invalid" type="submit">Salvar</button>
						<button class="btn btn-default" ng-click="cancel()">Cancelar</button>
					</div>
				</div>
			</form>
		</div>
	</div>	
</section>
