
<div class="box box-primary box-solid">
  <div class="box-header">
    <h3 class="box-title">Permissão do Nível de Acesso</h3>
  </div>
  <div class="box-body">

    <form name="formPermitNivelAcesso" novalidate ng-submit="savePermit()">

      <div class="form-group">
        <label>Nível de Acesso</label>
        <p class="form-control-static">{{selectedItem.NiveisAcesso.nome}}</p>
      </div>

      <div class="form-group">
        <label>Permissão</label>
        <select ng-options="item.Permissao.id as item.Permissao.descricao for item in related.Permissoes" name="permissao_id" class="form-control" ng-model="formPermit.NiveisAcessoPermissao.permissao_id">
        </select>
      </div>

      <div class="btn-group">
        <button tooltip="Salvar" type="submit" ng-disabled="formPermitNivelAcesso.$invalid" class="btn btn-primary radius">Salvar</button>
        <button tooltip="Cancelar" ng-click="cancelPermit()" class="btn btn-default">Cancelar</button>
      </div>

    </form>
  </div>
</div>
