<div class="header clearfix">
  <div class="btn-group pull-right">
    <button ng-click="addPermit()" class="btn btn-default">Nova Permissão</button>
  </div>
</div>
<hr>
<div class="box box-primary box-solid">
  <div class="box-header">
    <h3 class="box-title">Permissões do Nível</h3>
  </div>
  <table class="table">
    <tr>
      <th class="col-md-2">&nbsp;</th>
      <th>Nome</th>
      <th>Descrição</th>
    </tr>
    <tr ng-repeat="item in permits">
      <td>
        <div class="btn-group">
          <button class="btn btn-default" tooltip="Editar" ng-click="editPermit(item)">Editar</button>
          <button class="btn btn-default" tooltip="Excluir" ng-click="delPermit(item)">Excluir</button>
        </div>
      </td>
      <td>{{item.Permissao.permit}}</td>
      <td>{{item.Permissao.descricao}}</td>
    </td>
  </table>
</div>
