<div class="btn-group">
  <button tooltip="Editar" ng-click="edit(item)" class="btn btn-default">
    <i class="glyphicon glyphicon-edit"></i>
  </button>
  <button tooltip="Permissões" ng-click="loadPermit(item)" class="btn btn-default">
    <i class="glyphicon glyphicon-list"></i>
  </button>
  <button tooltip="Excluir" ng-click="del(item)" class="btn btn-danger">
    <i class="glyphicon glyphicon-trash"></i>
  </button>
</div>
