<section>
	<ng-include src="'/admin/includes/common/formActions.html'"></ng-include>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Ocorrência</h3>
		</div>
		<div class="panel-body">
			<div class="form">
				<div class="form-group">
					<label>Login</label>
					<input type="text" class="form-control" ng-model="form.Usuario.login">
				</div>
				<div class="form-group">
					<label>Senha</label>
					<input type="text" class="form-control" ng-model="form.Usuario.senha">
				</div>
				<div class="form-group">
					<label>Início</label>
					<input type="text" class="form-control" ng-model="form.OcorrenciaMunicipal.inicio_inscricoes">
				</div>
				<div class="form-group">
					<label>Fim</label>
					<input type="text" class="form-control" ng-model="form.OcorrenciaMunicipal.fim_inscricoes">
				</div>
				<div class="form-group">
					<label>Benefícios Locais</label>
					<div text-angular ng-model="form.OcorrenciaMunicipal.beneficios_locais"></div>
				</div>
			</div>
		</div>
	</div>	
</section>
