<section>
	<ng-include src="'/admin/includes/common/listingActions.html'"></ng-include>
	<ng-include src="'/admin/includes/common/pagination.html'"></ng-include>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Programas</h3>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th class="col-md-2">&nbsp;</th>
					<th>Município</th>
					<th>Início</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in listing">
					<td>
						<ng-include src="'/admin/includes/common/recordActions.html'"></ng-include>
					</td>
					<td>{{item.Programa.nome_divulgacao}}</td>
					<td>{{item.OcorrenciaMunicipal.inicio_inscricoes | date:'dd/MM/yyyy'}}</td>
				</tr>
			</tbody>
		</table>
	</div>	
</section>
