<alert close type="danger">
Página não encontrada!
</alert>
<div class="jumbotron col-md-4 col-md-offset-4">
	<h2>Essa página não foi encontrada!</h2>
	<p>Verifique o endereço e tente novamente.</p>
</div>
